### Java ###
# Compiled class file
*.class

### VisualStudioCode ###
.vscode/*

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


# # VS Code Specific Java Settings
.classpath
.project
.settings/
bin/